*{
    margin: 0;
    padding: 0;
    border: border-box;
}

body{
    background-color: #22223b;
    color: #f2e9e4;
}

.hidden{
    display: none;
}

.winnerBox{
    text-align: center;
    height: 100vh;
}
.winnerMsg{
    margin-top: 17vh;
    font-size: 6em;
}

.newGame{
    margin-top: 7vh;
    font-size: 1.7em;
    height: 10vh;
    width: 25vh;
    border-radius: 10%;
    background-color: #f2e9e4;
    color: #22223b;
}

.game{
    margin-top: 17vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    height: 60vh;
    width: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.boxes{
    height: 30%;
    width: 30%;
    background-color: #c9ada7;
    border-radius: 10%;
    border: none;
    font-size: 3.5em;
    font-weight: 700;
    color: #4a4e69;
}

.reset{
    margin-top: 7vh;
    font-size: 1.7em;
    height: 7vh;
    width: 20vh;
    border-radius: 10%;
    background-color: #f2e9e4;
}